@import url(./__heading/form__heading.css);
@import url(./__input-container/form__input-container.css);
@import url(./__label/form__label.css);
@import url(./__item/form__item.css);
@import url(./__handler/form__handler.css);
@import url(./__button/form__button.css);


.form {
    max-width: 358px;
    padding: 0;
    margin: 0;   
}