.profile__button-edit {
    background-image: url(../../../images/Edit\ Button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    align-self: center;
}
