@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("Inter-Medium.woff2?v=3.13") format("woff2"),
         url("Inter-Medium.woff?v=3.13") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("Inter-Bold.woff2?v=3.13") format("woff2"),
         url("Inter-Bold.woff?v=3.13") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-Black.woff2?v=3.13") format("woff2"),
         url("Inter-Black.woff?v=3.13") format("woff");
  }

  .page {
      background-color: black;
  }
  .page__container {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
  .header {
    max-width: 100%;  
    display: grid;
    grid-template-columns: 1fr;
    gap: 34px;
    margin: 0 199px 0 199px;
    padding-top: 45px;
  }
  .header__logo {
      background-image: url(./images/mesto_logo.svg);
      background-size: cover;
      width: 142px;
      height: 28px;
  }
  .header__line {
    opacity: 0.7;
    border: 1px solid #545454;
  }
.profile {
    display: flex;
    margin: 0 199px 0 199px;
    padding-top: 51px;
}
.profile__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    }
.profile__box {
    display: flex;
}
.profile__pic {
    width: 120px;
    height: 120px;
}
.profile__info {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) min-content;
    gap: 16px 17px;
    margin: 0;
    align-content: center;
    padding-left: 30px;
}
.profile__name {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.33;
    color: #FFFFFF;
    margin: 0;
}
.profile__occupation {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0;
    }
.profile__button-edit {
    background-image: url(./images/Edit\ Button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    align-self: center;
}

.profile__button-add {
    background-image: url(./images/Add\ Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    align-self: center;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 199px 0 199px;
}
.footer__copyright {
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 1.2;
   color: #545454;
   padding: 60px 0 0 0;
}

.places {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 460px));
    gap: 20px 18px;
    margin: 0 199px;
    padding-top: 50px;
    justify-content: center;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.card__image {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.card__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card__like {
    background-image: url(./images/heart_like.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    align-self: center;
}
.card__textbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 15px 31px 21px;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.popup_open {
    display: flex;
}
.popup__container {
    max-width: 430px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.popup__button-close {
    background-image: url(./images/close_icon.svg);
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
}
.form {
    width: 430px;
    
}
.form__heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    padding: 34px 0 54px 0;
    margin: 0 36px;
}
.form__input-container {
    width: 358px;
    border: 0;
    margin: auto;
    padding-bottom: 48px;
}
.form__label {
    display: block;
    margin: 30px auto 0;
}
.form__label:first-child {
    margin: 0 auto;
}
.form__item {
    border: 0;
    width: 100%;
    height: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,.2);
    background-color: transparent;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: black;
    }

.form__handler {
    margin: 0 36px;
    width: 358px;
    height: 50px;
    border: 0;
    font-size: 0;
    padding: 0 0 36px 0;
}
.form__button {
    width: 100%;
    height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity .4s;
    color: white;
}
.form__button:hover {
    opacity: .7;
  }
  .form__button[type="submit"] {
    background-color: #000;
  }

@media screen and (max-width: 1024px) {
    .profile {
        max-width: 882px;
        margin: 0 auto;
    }
    .header {
        max-width: 882px;
        margin: 0 auto;

    }
    .places {
        margin: 0 auto;
        padding: 50px 1em 0 1em;
    }
    .footer {
        max-width: 882px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .places {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        margin: 0 19px;
        padding-left: 0;
        padding-right: 0;
    }
    .header {
        margin: 0 auto;
    }
    .header__logo {
        margin-left: 27px;
    }
    .profile {
        margin: 0 19px;
    }
    .footer {
        margin: 0 19px;
    }
}

@media screen and (max-width: 480px) {
    .places {
        grid-template-columns: minmax(282px, 1fr);
        gap: 20px;
              
    }
    .profile {
        margin: 0 auto;
    }
    .profile__container {
        flex-direction: column;
    }
    .profile__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }
    .profile__pic {
        padding-bottom: 14px;
    }
    .profile__name {
        font-size: 27px;
    }
    .profile__occupation {
        font-size: 14px;
    }
    .profile__info {
        padding: 0;
        justify-items: center;
    }
    .profile__button-add {
        background-image: url(./images/button_add_big.png);
        width: 282px;
        height: 50px;
    }
    .footer__copyright {
        font-size: 14px;
        }
}
