.header__logo {
    background-image: url(../../../images/mesto_logo.svg);
    background-size: cover;
    width: 142px;
    height: 28px;
    margin-bottom: 34px;
}
@media screen and (max-width: 768px) {    
    .header__logo {
        background-image: url(../../../images/logo_mesto_mobile.svg);
        width: 104px;
        height: 24px;
        margin-left: 27px;
        margin-bottom: 30px;
    }
}
