.profile__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    }

@media screen and (max-width: 480px) {
    .profile__container {
    flex-direction: column;
}
}