.profile__occupation {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .profile__occupation {
    font-size: 14px;
    grid-column: 1/3;
  }
}
